<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VueJs Tutotials</title>
		<link href="style1.css" rel="stylesheet"/>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	<body>
	<!-- data in app is only accessable inside this div -->
	<div id="vue-app">

		<h1>Dynamic CSS</h1>
		<h2>Example 1</h2>
		<div v-on:click="available = !available" v-bind:class="{available: available}">
			<span>Ryu</span>
		</div>
		<h2>Example 2</h2>
		<button v-on:click="nearby = !nearby">Toggle nearby</button>
		<button v-on:click="available = !available">Toggle available</button>
		<div v-bind:class="compClasses">
		<span>Riku</span>
		</div>

		<h1>Conditionals</h1>
		<button v-on:click="error = !error">Toggle Error</button>
		<button v-on:click="sucess = !sucess">Toggle Sucess</button>
		<p v-if="error">The is an error</p>
		<p v-else-if="sucess">Sucess!</p>
		<!-- <p v-show="error">You lose</p> -->
		<!-- <p v-show="sucess">You win</p> -->

		<h1>Looping through lists</h1>
		<ul>
			<li v-for="character in characters">{{character}}</li>
		</ul>

	</div>

		<script src="app1.js"></script>
	</body>
</html>
