<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VueJs Tutotials</title>
		<link href="style.css" rel="stylesheet"/>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	<body>
	<!-- data in app is only accessable inside this div -->
	<div id="vue-app">
		<!-- 2-way data binding -->
		<input type="text" v-model="name">
		<input type="text" v-model="age" >

		<h1>{{ greet('afternoon') }}</h1>
		<p>{{ name }}</p>
		<p>{{ job }}</p>
		<!-- directive telling vue to bind attribute to dynamic data -->
		<a v-bind:href= "website">Linkedin</a>
		<input type="text" v-bind:value= "name"/>
		<p v-html="websiteTag"></p>

		<h1>Events</h1>
		<!-- @ substitutes v-on: -->
		<button v-on:click="add(1)">Add a Year</button>
		<button @click="subtract(1)">Subtract a Year</button>
		<button v-on:dblclick.once= "add(10)">Add 10 years</button>
		<button @dblclick= "subtract(10)">Subtract 10 years</button>
		<p>My Age is {{ age }}</p>
		<div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
		<!-- prevents default behavior -->
		<a v-on:click.prevent="badclick" href="http://www.google.com">Google</a>

		<h1>Keyboard Events</h1>
		<label>Name:</label>
		<input type="text" v-on:keyup.enter="logName" />
		<span>{{ name }}</span>

		<label>Age:</label>
		<!-- only works when press alt + enter -->
		<input type="text" v-on:keyup.alt.enter="logAge" />
		<span>{{ age }}</span>

		<h1>Computed Properties</h1>
		<button v-on:click="a++">Add to A</button>
		<button v-on:click="b++">Add to B</button>
		<p>A = {{ a }}</p>
		<p>B = {{ b }}</p>
		<p>newAge + A = {{ addToA }}</p>
		<p>newAge + B = {{ addToB }}</p>

	</div>

		<script src="app.js"></script>
	</body>
</html>
